<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name1 %>
</p>

<p>
  <b>ID:</b>
  <%= @person.ID%>
</p>

<%- if @person.addresses.present? %>
	<ol>
		<%- @person.addresses.each do |address| %>
			<li> 
				<%= address.street_name %>
			</li>
		<%   end %>
	</ol>
<%  end %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Add address', new_person_address_path(@person) %> |
<%= link_to 'Back', people_path %>
